#homePage {
    height: 100vh;
}

#regionFilter {
    width: 25%;
    height: 25%;
    text-align: center;
}

#leagueFilter {
    width: 25%;
    height: 25%;
    text-align: center;
}

#resetPage {
    width: 25%;
    height: 25%;
    text-align: center;
}

.dropdown {
    height: 50vh;
}