<div class="container-fluid" id="homePage">
    <div style="text-align: center;">
        <h1><i>NFL Standings</i></h1>
        <div class="row">
            <div class="col-lg" id="regionFilter">
                <div id="regionFilterTitle">
                    Sort by Region
                    <div>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="regionFilterButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown button
                            </button>
                            <div class="dropdown-menu" aria-labelledby="regionFilterButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg" id="leagueFilter">
                <div>
                    Sort by League
                </div>
            </div>
            <div class="col-lg" id="resetPage">
                <div>
                    Reset
                </div>
            </div>
        </div>
    </div>
</div>